<div class="editor-container">
  <!-- Toolbar -->
  <div class="toolbar">
    <button (click)="execCommand('bold')" title="Bold"><b>B</b></button>
    <button (click)="execCommand('italic')" title="Italic"><i>I</i></button>
    <button (click)="execCommand('underline')" title="Underline">
      <u>U</u>
    </button>
    <button (click)="execCommand('insertOrderedList')" title="Ordered List">
      OL
    </button>
    <button (click)="execCommand('insertUnorderedList')" title="Unordered List">
      UL
    </button>
    <input
      type="color"
      (input)="changeTextColor($event)"
      title="Change Text Color"
    />
    <button (click)="insertCodeBlock()" title="Insert Code Block">Code</button>
    <input
      type="color"
      (input)="_paragraphColor($event)"
      title="Change Text Color"
    />
    <button (click)="insertColoredParagraph()">
    Para
    </button>
  </div>

  <!-- Contenteditable area -->
  <div
    class="editor-content"
    contenteditable="true"
    [(innerHTML)]="content"
  ></div>
</div>
<button (click)="updateContent()">Render</button>

<!-- Display the output -->
<div class="output-container">
  <h3>Editor Output:</h3>
  <div [innerHTML]="content"></div>
</div>